@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

:root {
  --font1: 'Pacifico', cursive;
  --font2: 'Elsie', cursive;
}

h1 {
  font-family: var(--font1);
  color: rgb(255, 8, 0);
}

p {
  font-family: var(--font2);
}

div.pagtop {
  background-color: aqua;
  background-image: url('./IMG/00.png');
  background-position: center;
  background-size: 200px;
  background-attachment: fixed;
  width: 200px;
  height: 200px;

}