@font-face {
  font-family: 'Elsie';
  src: url('/fontes/Elsie/Elsie-Black.ttf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Elsie';
  src: url('/fontes/Irish_Grover/IrishGrover-Regular.ttf') format('opentype');
  font-weight: normal;
}


:root {
  --font1: 'Elsie', cursive;
  --font2: 'Irish', cursive;
}

h1 {
  font-family: var(--font1);
  color: rgb(255, 8, 0);
}


div.pagtop {
  background-color: aqua;
  background-image: url('./IMG/00.png');
  background-position: center;
  background-size: 200px;
  background-attachment: fixed;
  width: 200px;
  height: 200px;

}