@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

:root {
  --font0: Verdana, Geneva, Tahoma, sans-serif;
  --font1: 'Sail', cursive;
  --font2: 'Elsie', cursive;
  --font3: 'Sail', cursive;
  --font4: 'Pacifico', cursive;
  --font5: 'Rubik Wet Paint', cursive;
}


.fundofixo1 {
  width: 500px;
  height: 500px;
  background: violet;

  background-image: url('/IMG/10A2.png');

}

.fundofixo1>h1 {
  color: brown;
  font-family: var(--font5);
  font-size: 40px;
}