/*
@charset "UTF-8";

@font-face {
  font-family: 'Elsie';
  src: url('/fontes/Elsie/Elsie-Black.ttf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Irish';
  src: url('/fontes/Irish_Grover/IrishGrover-Regular.ttf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'MsMadi';
  src: url('/fontes/Ms_Madi/MsMadi-Regular.ttf') format('opentype');
  font-weight: normal;
}

:root {
  --fonte0: Verdana, Geneva, Tahoma, sans-serif;
  --fonte1: 'Elsie';
  --fonte2: 'Irish';
  --fonte3: 'MsMadi', cursive;
}

h1 {
  color: aqua;
  font-family: var(--fonte3);
}

*/