@font-face {
  font-family: 'Elsie';
  src: url('/Style/fontes/Elsie/Elsie-Black.ttf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Irish';
  src: url('/Style/fontes/Irish_Grover/IrishGrover-Regular.ttf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'MsMadi';
  src: url('/Style/fontes/Ms_Madi/MsMadi-Regular.ttf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Sail';
  src: url('/Style/fontes/Sail/Sail-Regular.ttf') format('opentype');
  font-weight: normal;
}


:root {

  --fonte0: Verdana, Geneva, Tahoma, sans-serif;

  --fonte1: 'Elsie', cursive;
  --fonte2: 'Irish', cursive;
  --fonte3: 'MsMadi', cursive;
  --fonte4: 'Sail', cursive;

}

body {
  font-family: var(--fonte1), var(--fonte0);
}

nav li>a>button {
  font-family: var(--fonte1);
}

h1 {
  font-family: var(--fonte4);
}

.indiceul li {
  font-family: var(--fonte2);
}

.cromatica {
  font-family: var(--fonte4);
}

.cifrasecordas {
  font-family: var(--fonte2);
}

.campoHarmonico {
  font-family: var(--fonte2);
}